.chatroom-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatroom-header {
  padding: 12px;
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
}

.chatroom-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.messages {
  flex: 7;
  padding: 10px;
  overflow-y: auto;
  background: #f5f5f5;
}

.message {
  margin-bottom: 8px;
}
.message.me .content {
  background: #d1f0ff;
}
.sender {
  font-weight: bold;
  margin-right: 6px;
}
.content {
  background: white;
  padding: 6px 10px;
  border-radius: 8px;
}

.participants {
  flex: 3;
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  background: #fafafa;
}

.participants ul {
  list-style: none;
  padding: 0;
}

.participants li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}
/* .online {
  background: #00c853;
} */

.chatroom-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatroom-input input {
  flex: 1;
  padding: 8px;
}
.chatroom-input button {
  margin-left: 8px;
}
